<a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
  <svg class="bi me-2" width="40" height="32">
    <use xlink:href="#bootstrap" />
  </svg>
  <span class="fs-4"><strong><img src="/public/Images/Book icon.png" width="50" height="50">EducaCommunities</strong></span>
</a>
<ul class="nav nav-pills">
  <!-- Navigation links -->
  <li class="nav-item">
    <a href="/" class="nav-link aria-current=<%= activePage === 'home' ? 'page' : '' %> <%= activePage === 'home' ? 'active' : '' %>">Home</a>
  </li>
  <li class="nav-item">
    <a href="/books" class="nav-link aria-current=<%= activePage === 'books' ? 'page' : '' %> <%= activePage === 'books' ? 'active' : '' %>">Books</a>
  </li>
  <li class="nav-item">
    <a href="/donation" class="nav-link aria-current=<%= activePage === 'donation' ? 'page' : '' %> <%= activePage === 'donation' ? 'active' : '' %>">Donation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Log In</a>
  </li>
</ul>